{% extends "garbage/base.html" %}
{% load static %}

{% block main %}
<div class="col-md-8">
	<div class="container card px-1 py-3">
		<h2 class="m-3">検索結果</h2>
		<div class="container smart-padding">
			{% if find %}
				<table class="table" id="result-table">
					<tr>
						<th class="px-1">品目</th>
						<td class="px-1">区分</td>
					</tr>
					{% for serch_result in serch_results %}
					<tr>
						<th class="px-1">{{ serch_result.key }}</th>
						<td class="px-1">{{ serch_result.classification }}</td>
					</tr>
					{% endfor %}
				</table>
				<p>※分類および収集曜日は千葉県柏市のものを基準にしています。</p>
			{% else %}
				<p>見つかりませんでした。</p>
			{% endif %}
			<a href="{% url 'garbage:index' %}">Topへ戻る</a>
		</div>
	</div>
</div>
{% endblock main %}
